Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be accessed electronically. It is a collection of data that is stored and organized in such a way that it can be easily accessed, managed and updated.

SQL (Structured Query Language) databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases1. SQL databases define and manipulate data-based structured query language (SQL). SQL is one of the most versatile and widely-used options available which makes it a safe choice, especially for great complex queries. But from another side, it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system1.

A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be created without having a defined structure first. Also, each document can have its own unique structure1.

The main differences between NoSQL and SQL databases are:

Type: SQL databases are primarily called Relational Databases (RDBMS); whereas NoSQL databases are primarily called non-relational or distributed databases.

Language: SQL databases define and manipulate data-based structured query language (SQL). A NoSQL database has a dynamic schema for unstructured data.

Scalability: In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU, or SSD. But on the other hand, NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.

Structure: SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases, or wide-column stores.

Property followed: SQL databases follow ACID properties (Atomicity, Consistency, Isolation, and Durability) whereas the NoSQL database follows the Brewers CAP theorem (Consistency, Availability, and Partition tolerance).

Support: Great support is available for all SQL databases from their vendors. Also, a lot of independent consultants are there who can help you with SQL databases for very large-scale deployments but for some NoSQL databases you still have to rely on community support and only limited outside experts are available for setting up and deploying your large-scale NoSQL deploy.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL and a part of DBMS (Database Management System). DDL commands are used to define the database structure or schema. The commands used in DDL are CREATE, DROP, ALTER, and TRUNCATE.

CREATE command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes. For example, if you want to create a table named “students” with columns “id”, “name”, “age”, and “gender”, you can use the following command:

CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  age INT,
  gender VARCHAR(255)
);

DROP command is used to remove an existing table along with its structure from the Database12. For example, if you want to delete the “students” table, you can use the following command:

DROP TABLE students;


ALTER command is used to add, delete or change columns in the existing table. For example, if you want to add a new column named “email” to the “students” table, you can use the following command:

ALTER TABLE students ADD email VARCHAR(255);


TRUNCATE command is used to remove all rows from the table but the structure of the table still exists. For example, if you want to remove all rows from the “students” table, you can use the following command:

TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is used to manipulate data in the database. The commands used in DML are INSERT, UPDATE, and DELETE.

INSERT command is used to insert data into a table. For example, if you want to insert a new record into the “students” table with values “1”, “John”, “20”, and “Male”, you can use the following command:

INSERT INTO students (id, name, age, gender) VALUES (1, 'John', 20, 'Male');

UPDATE command is used to modify existing data within a table. For example, if you want to update the name of the student with id 1 from “John” to “Jane”, you can use the following command:

UPDATE students SET name = 'Jane' WHERE id = 1;

DELETE command is used to delete records from a database table. For example, if you want to delete the record of the student with id 1 from the “students” table, you can use the following command:

DELETE FROM students WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is used to retrieve data from the database. The command used in DQL is SELECT .

SELECT command is used to retrieve data from one or more tables in the database . For example, if you want to retrieve all records from the “students” table, you can use the following command:

SELECT * FROM students;

This will return all columns and rows from the “students” table.

You can also select specific columns by specifying their names instead of using the asterisk symbol. For example, if you want to retrieve only the “name” and “age” columns from the “students” table, you can use the following command:

SELECT name, age FROM students;

This will return only the “name” and “age” columns from the “students” table.

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or group of columns in a table that uniquely identifies each row in the table. It cannot contain null values and must be unique for each row. For example, if you have a “students” table, you can use the “id” column as the primary key.

A foreign key is a column or group of columns in a table that refers to the primary key of another table. It is used to link two tables together. For example, if you have a “courses” table and a “students” table, you can use the “course_id” column in the “students” table as a foreign key that refers to the “id” column in the “courses” table.

Here’s an example of how to create tables with primary and foreign keys:

CREATE TABLE courses (
  id INT PRIMARY KEY,
  name VARCHAR(255)
);

CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  course_id INT,
  FOREIGN KEY (course_id) REFERENCES courses(id)
);

In this example, the “courses” table has an “id” column as the primary key. The “students” table has an “id” column as the primary key and a “course_id” column as a foreign key that refers to the “id” column in the “courses” table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

The cursor() method creates a cursor object that is capable of executing SQL queries on the database. The execute() method is used for executing SQL queries on the database. It takes an SQL query (as a string) as an argument

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM

WHERE

GROUP BY

HAVING

SELECT

ORDER BY